.tmp/
.temp/

**pycache**/
*.py[cod]
*$py.class

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

*.egg-info/
.eggs/
dist/
build/

.venv/
venv/
env/

.mypy_cache/
.ruff_cache/
.pyright/

test-results/
coverage.xml
pytestdebug.log
